{% extends "show.html" %}
{% block content %}
<!-- Page Heading -->
<script>
    var last_k;
</script>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Admin</h1>
    <a href = "/appendData" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Add Week Label</a>
</div>

<form action="/submitDates" method="POST" id="dateInputs">
    {% for week_id, week in week_data.items() %}
        <b>Week {{week_id}}</b>
        <label for="{{'%s_start' % week_id}}">Start: </label>
        <input type="datetime-local" name="{{'%s_start' % week_id}}" id="{{'%s_start' % week_id}}" value="{{week['start']|strftime}}">

        <label for="{{'%s_end' % week_id}}">End: </label>
        <input type="datetime-local" name="{{'%s_end' % week_id}}" id="{{'%s_end' % week_id}}" value="{{week['end']|strftime}}">

        <label for="{{'%s_reqs' % week_id}}">Reqs: </label>
        <input type="number" name="{{'%s_reqs' % week_id}}" id="{{'%s_reqs' % week_id}}" value="{{week['reqs']}}">
        <script> last_k = "{{week_id}}";</script>
        <br/>
    {% endfor %}
    <input type="submit">
</form>

<script>
    var last_k = parseInt(last_k);
    function addDateRow() {
        if(last_k == NaN) {
            week_data
        }
        document.getElementById("dateInputs").appendChild()
    }
</script>

{% endblock %}