{% extends "show.html" %}

{% block content %}
    <ul class="nav nav-tabs">
        {% for week, data in pledge_info.items()%}
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link" data-toggle="tab" href={{ '#week' + week }}>{{ week }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for week, data in pledge_info.items()%}
            <div id= {{ "week" + week }} class="tab-pane">
                <div class ="flex-row" style="margin: 10px;">
                    <div class ="col-lg-offset-12">
                        <div class="card">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">
                                    Pledges
                                </h6>
                            </div>
                            <div class="card-body">
                                {% for pledge, pledge_stat in data['pledges'].items()%}
                                    <h4 class="small font-weight-bold"> {{ pledge }}: <span class="float-right">{{ (pledge_stat | string) + '/' + (data['reqs'] | string) }}</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ 100*pledge_stat/data['reqs'] }}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}