{% extends "show.html" %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link active" href="#home">{{ 'Weeks:' }}</a>
        </li>
        {% for week, data in pledge_info.items()%}
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link" data-toggle="tab" href={{ '#week' + week }}>{{ week }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane active">
            <div class ="flex-row" style="margin: 10px;">
                <div class ="col-lg-offset-12">
                    <div class="card">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">
                                Breakdown
                            </h6>
                        </div>
                        <div class="card-body">
                            {% for week, data in pledge_info.items()%}
                                <h4 class="small font-weight-bold">Week {{ week }}: <span class="float-right">{{ (data['comp'] | string) + '/' + (data['reqs'] | string) }}</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ 100*data['comp']/data['reqs'] }}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for week, data in pledge_info.items()%}
            <div id= {{ "week" + week }} class="tab-pane">
                {% for ix in range(data['thank_you_emails'] | length)%}
                    <div class ="flex-row" style="margin: 10px;">
                        <div class ="col-lg-offset-12">
                            <div class="card">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        {{ 'Email ' + ((ix + 1) |string) }}
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <h6>
                                        Brother: {{ data['thank_you_emails'][ix]['brother_email']}}
                                    </h6>
                                    <h6>
                                        Date: {{ data['thank_you_emails'][ix]['date']}}
                                    </h6>
                                    <p>
                                        Content: {{ data['thank_you_emails'][ix]['content']}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        {% endfor %}
    </div>

{% endblock %}